.profile {
    margin-top: 30px;
    text-align: center;
    align-content: center;
    display: inline;
}

.profiledata {
    margin-top: 20px;
    font-size: 40px;
    font-family: Gloucester MT Extra Condensed;
}